// REUSABLES LAYER  ##############################################

	// A.8. HOVER EFFECT
	
	
	.view {
	   
	   img {
	       display: block;
	       margin: 0 auto;
	   }
	   
	   .mask {
	       
	       img {
	           display: none;
	           max-width: 40%!important;
	       }
	       
	       p {
	           margin-bottom: 5px;
	       
	       }
	       
	   }
	   
	   }
	
	
	// A.7. END

// END OF FILE ##############################################