// 1. OBJECT [ 1.0. GENERAL ]  ########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

// A.1.1 LINKS

a { cursor: pointer; }

// A.1.1. END

// A.1.2. SECTIONS

.section { padding: $baseline-small; }

// A.1.2. END

// A.1.3. DROPDOWNS

.dropdown {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

// A.1.3. END


// A.1.3. END

.toggle-content {

    display: none;

    &.on {

        display: block;
    }
}

// A.1.3. END

// A.1.4. VERTICAL ALIGN

.v-align {
    
    @include vertical-align (absolute);
    left: 0;
    right: 0;
    
}

// A.1.4. END

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. CONTENT -------------------------------------------------------------------------------------------------------

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    // A.1.5. HIDE ON PHONES

    .no-mobile { display: none; }

    // A.1.5. END
    
    // A.1.5. HIDE ON PHONES

    .no-mobile-inline { display: none; }

    // A.1.5. END
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .container { padding: 0; }

    // A.1.5. HIDE ON PHONES

    .no-mobile { display: none; }

    // A.1.5. END
    
    // A.1.5. HIDE ON PHONES

    .no-mobile-inline { display: none; }

    // A.1.5. END
    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.5. HIDE ON PHONES

    .no-mobile { display: block; }

    // A.1.5. END
    
    // A.1.5. HIDE ON PHONES

    .no-mobile-inline { display: inline-block; }

    // A.1.5. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.5. HIDE ON PHONES

    .no-mobile { display: block; }

    // A.1.5. END
    
    // A.1.5. HIDE ON PHONES

    .no-mobile-inline { display: flex; }

    // A.1.5. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.5. HIDE ON PHONES

    .no-mobile { display: block; }

    // A.1.5. END
    
    // A.1.5. HIDE ON PHONES

    //.no-mobile-inline { display: flex; }

    // A.1.5. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################