// 1. OBJECT [ 1.5.5. NAVIGATION - BURGER BUTTON ]  ###############################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.burger-button {
    
    display: none;
    
    position: absolute;
    right: $baseline/2;
    top: -$baseline;
    
    width: 33px;
    height: 33px;
    
    overflow: hidden;
    
    // A.1. LINES ------------------------------------------------------------------------------------------------
    
    .line {
        
        position: absolute;
    
        width: 30px;
        height: 3px;
        background: $black;
        
        @include hover-effect();
    
    }
    
    .line-1 {
        top: 10%;
        transform: translateY(10%) rotate(0deg);
    
    }
    
    .line-2 {
        
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
    
    }
    
    .line-3 {
        top: 90%;
        transform: translateY(-90%) rotate(0deg);
    
    }
    
    // A.1. END --------------------------------------------------------------------------------------------------
    
    // A.2. CLOSE STATE ------------------------------------------------------------------------------------------
    
    &.close {
    
        .line {
        
            background: $blue;
            @include hover-effect();
        
        }
        
        .line-1 {
        
            top: 50%;
            transform: translateY(-50%) rotate(45deg);

        }

        .line-2 {

            opacity: 0;

        }

        .line-3 {

            top: 50%;
            transform: translateY(-50%) rotate(-45deg);

        }
    
    }
    
    // A.2. END --------------------------------------------------------------------------------------------------

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    .burger-button {
    
        display: block;
        top: -16px;
    }


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    .burger-button {
    
        display: block;
    }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    .burger-button {
    
        display: none!important;
    }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################