// 1. OBJECT [ 1.9. GRID ]  ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.grid {
    
    // A.1. WHOLE -----------------------------------------------------------------------------------------------------

    .one-whole {
        
        @extend .grid__item;
        @extend .one-whole;

    }

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. HALF ------------------------------------------------------------------------------------------------------

    .one-half {
        
        @extend .grid__item;
        @extend .one-half;
        
        &.scaled {
            
            @extend .feature--one-whole;
            @extend .mobile--one-whole;
            @extend .tablet--one-whole;
            
        }

    }

    // A.2. END -------------------------------------------------------------------------------------------------------
    
    // A.3. QUARTERS --------------------------------------------------------------------------------------------------
    
    .one-quarter {
        
        @extend .grid__item;
        @extend .one-quarter;

    }

    .three-quarters {
        
        @extend .grid__item;
        @extend .three-quarters;

    }

    // A.3. END -------------------------------------------------------------------------------------------------------

    // A.4. THIRDS ----------------------------------------------------------------------------------------------------

    .one-third {
        
        @extend .grid__item;
        @extend .one-third;

    }

    .two-thirds {
        
        @extend .grid__item;
        @extend .two-thirds;

    }

    // A.4. END -------------------------------------------------------------------------------------------------------
    
    // A.5. FIFTHS ----------------------------------------------------------------------------------------------------
    
    .one-fifth {
        
        @extend .grid__item;
        @extend .one-fifth;
        @extend .feature--one-whole;
        @extend .mobile--one-whole;
    }
    
    .two-fifths {
        
        @extend .grid__item;
        @extend .two-fifths;
        @extend .feature--one-whole;
        @extend .mobile--one-whole;
    }
    
    
    // A.5. END -------------------------------------------------------------------------------------------------------
    
    // A.6. SIXTHS ----------------------------------------------------------------------------------------------------

    .one-sixth {
        
        @extend .grid__item;
        @extend .one-sixth;

    }

    .four-sixths {
        
        @extend .grid__item;
        @extend .four-sixths;

    }

    .five-sixths {
        
        @extend .grid__item;
        @extend .five-sixths;

    }

    // A.6. END -------------------------------------------------------------------------------------------------------
       
    // A.7. THIRDS ----------------------------------------------------------------------------------------------------

    .three-eighths {
        
        @extend .grid__item;
        @extend .three-eighths;

    }

    // A.7. END -------------------------------------------------------------------------------------------------------
    
    // A.8. GRID HALF - SMALL -----------------------------------------------------------------------------------------
    
    &.half {
        
        &.small {
        
            li {

                &:first-child { text-align: right; }

                &:last-child { text-align: left; }
            }
        }
    }
    
    // A.8. END -------------------------------------------------------------------------------------------------------
        
    // A.9. GRID INLINE - SMALL ---------------------------------------------------------------------------------------
    
    &.inline {
        
        &.small {
        
            .grid__item {
                
                box-sizing: border-box;
                
                a { margin: 0 $baseline-small/2; box-sizing: border-box; }

                &:first-child { 
                
                    a { margin-right: $baseline-small; margin-left: 0; }
                
                }

                &:last-child { 
                
                    a { margin-left: $baseline-small; margin-right: 0; }
                
                }
            }
        }
    }
    
    // A.9. END -------------------------------------------------------------------------------------------------------
    
}
// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {


.grid {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline/4; }
            }

            &:last-child {

                a { margin-left: $baseline/4; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------  

}
    
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

.grid {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline-small; }
            }

            &:last-child {

                a { margin-left: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
} 

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-right: $baseline-small; }
            }

            &:last-child {

                a { margin-left: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-left: $baseline-small; }
            }

            &:last-child {

                a { margin-right: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {
    
    // A.0. GRID HALF -------------------------------------------------------------------------------------------------
    
    &.half {
        
        li {
            
            &:first-child {

                a { margin-left: $baseline-small; }
            }

            &:last-child {

                a { margin-right: $baseline-small; }
            }
        }
    }
    
    // A.0. END -------------------------------------------------------------------------------------------------------
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################