// 1. OBJECT [ 1.5. INPUTS: GENERAL ]  ################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD BUTTONS ----------------------------------------------------------------------------------------------

.button--masthead {
    
    background: url('../images/icons/burger.svg');

    @include vertical-align(absolute);
    left: $baseline-small;
    
    width: 28px;
    height: 28px;

}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. BUTTONS -------------------------------------------------------------------------------------------------------

.button {

    font-size: $large;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 3px 10px $ia-grey90;
    text-align: center;
    padding: $baseline-small 0;
    display: block;

    &.full {

        display: block;
        width: 100%;

    }

    &.single {

        display: block;
        width: 50%;
        margin: 0 auto;
        font-size: $medium;

    }
    
    &.small {
        
        width: auto;
        display: inline-block;
        
    }

    &.green {

        color: $white;
        background: $ia-green;

    }

    &.red {

        color: $white;
        background: $ia-red;

    }

    &.yellow {

        color: $black;
        background: $ia-yellowDark;

    }

    &.quiz {

        display: block;
        border-radius: 0;
        background: $ia-yellow;

    }

    .quiz-icon {

        position: absolute;
        height: 100% !important;
        left: 0;
        background: $ia-gold;

    }

    .quiz-text {

        font-weight: bolder;
        font-size: $medium;
        padding: $baseline-small 0;

    }

    &.icon {

        min-width: 25px!important;
        min-height: 25px!important;
        line-height: 35px;
        padding: 0 10px;

    }
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. FORM FIELDS ---------------------------------------------------------------------------------------------------

select,
input[type='text'],
input[type='select'] {
    
    width: 100%!important;
    padding: $baseline-small 0!important;
    border: 0;
    border-radius: 5px;
    text-indent: 10px;
}

// A.3. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################