// 2. SECTION [ 2.1. PAGE ] ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.section-entry {
    
    // A.1. MISC THINGS -----------------------------------------------------------------------------------------------
    
    // A.1.1. Text 
    
    h1, h2 {
        
        color: $white;
        line-height: normal;
        margin-bottom: $baseline-small;
        
    }
    
    p {
        
        color: $white;
        
    }
    
    // A.1.1. END
    
    // A.1.2. Form Fields
    
    label {
        
        color: $white;
            
    }
    
    input[type='text'] {
        
        margin-bottom: $baseline-small;   
        
    }
    
    // A.1.2. END
    
    // A.1.3. Form Controls
    
    .form-control {
        
        &.register {
            
            margin-top: $baseline;   
            
        }
        
        span {
            
            color: $white;   
            
        }
    }
    
    // A.1.3. END
    
    .forgot {
    
        margin: $baseline 0;
        text-align: center;
        display: block;
        color: $white;
    
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------

}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################