// 2. SECTION [ 2.2. MASTHEAD ] #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

.masthead {
    
    .masthead__logo {
        
        @extend .feature--three-quarters;
        @extend .mobile--three-quarters;
        height: 100%;
        margin: 0; 
        background: $blue;
        
        .logo { height: 90%; width: auto; }
    }
    
    .masthead__nav { 
        
        @extend .feature--one-quarter;
        @extend .mobile--one-quarter;
        background: $red; 
    
    }
    .newsletter { background: $blue; }
    



// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {
        
        height: 40px;

        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
        
    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {
        
        height: 60px;

        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {
        
        height: 80px;

        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {
        
        height: 100px;

        .newsletter { display: block; }
        
        .masthead__nav {
            
            .burger-button { display: none; }
            .primary,
            .nav-social {display: block; }
        }
    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {
        
        height: 100px;

        .newsletter { display: block; }
        
        .masthead__nav {
            
            .burger-button { display: none; }
            .primary,
            .nav-social {display: block; }
        }
    }

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################