// 2. SECTION [ 2.2. MASTHEAD ] #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

.masthead {
    
    background: $ia-grey90;
    
    .masthead__logo {
        
        @extend .feature--three-quarters;
        @extend .mobile--three-quarters;
        height: 100%;
        margin: 0; 
        
    }
    
    .masthead__nav { 
        
        @extend .feature--one-quarter;
        @extend .mobile--one-quarter;
         
    
    }
    .newsletter {}
    



// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {
        
        height: 50px;
    
        .masthead__logo {

            .logo { height: 90%; width: auto; }
        }
        
        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
        
    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {
        
        height: 50px;
    
        .masthead__logo {

            .logo { height: 90%; width: auto; }
        }
        
        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {
        
        height: 80px;
    
        .masthead__logo {

            .logo { height: 90%; width: auto; }
        }
        
        .newsletter { display: none; }
        
        .masthead__nav {
            
            .burger-button { display: block; }
            .primary,
            .nav-social {display: none; }
        }
    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {
        
        height: 100px;
    
        .masthead__logo {
            text-align:  center;
            .logo { height: auto; width: 90%; margin-top: $baseline; margin-left: $baseline-small; }
        }
        
        .newsletter { display: block; }
        
        .masthead__nav {
            
            .burger-button { display: none; }
            .primary,
            .nav-social {display: block; }
        }
    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {
        
        height: 100px;
    
        .masthead__logo {
            text-align:  center;
            .logo { height: auto; width: 90%; margin-top: $baseline-small; margin-left: $baseline-small; }
        }
        
        .newsletter { display: block; }
        
        .masthead__nav {
            
            .burger-button { display: none; }
            .primary,
            .nav-social {display: block; }
        }
    }

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################