// 2. SECTION [ 2.4. NAVIGATION ]  ####################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MAIN NAV ------------------------------------------------------------------------------------------------------

.main-navigation {

    @include vertical-align(absolute);
    width: 100%;
    
    ul {
    
        @include list(vertical, right);
        
        border-bottom: solid 1px $ia-grey80;
        
        a {
        
            border-top: solid 1px $ia-grey80;
            color: $ia-grey50;
            
            @include hover-effect();
        
            &.active,
            &:hover {
            
                border-left: solid 6px $ia-blueDark;
                color: $ia-grey20;
                
                @include hover-effect();
            
            }
        }
    }
    
    .section__profile {
        
        width: 50%;
        margin-left: 44%;
        text-align: center;
        background: none;
        
        .icon {
            
            width: 100%;
            display: block;
            
            .image {
                
                width: 80px;
                height: 80px;
                margin: 0 auto;
                background: $white;
                border-radius: 100%;
                display: block;
                
            }
        }
    }
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {
    
    .main-navigation {

        ul {

            a {

                padding: $baseline-small!important;

            }
        }
    }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .main-navigation {

        ul {

            a {

                padding: $baseline!important;

            }
        }
    }
    
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .main-navigation {

        ul {

            a {

                padding: $baseline!important;

            }
        }
    }
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################