// PAGES LAYER ##############################################

    // A. FRONT PANEL ++++++++++++++++++++++++++++++++++++++++++++++++    	

    	.section-home {
    	
    	    text-align: center;
    	    position: fixed;
    	    top: 0;
    	    left: 0;
    	    right: 0;
    	    bottom: 0;
    	    
    	    .wrap-content { 
    	    
    	        @include vertical-align(relative);
    	    
    	    }
			
    		
    		// A.1. Components
			
				//A.1.1. page header
				
				.section-header {
					
					padding: 0 0 20px 0;
                    
                    h2 { line-height: normal; }
					
					//A.1.1.1 page slogan
					.bob-slogan {
						text-transform: uppercase;
						padding: 0; 
						font-size: 1.6em;
                        line-height: normal;
    					margin: 40px 0 10px;
					}
				}
				
				//A.1.2. request info button
				
				.front-requestLink {	
                    
                    width: 250px;
                    border: 2px solid #FFF;
                    padding: 15px 5px;
                    margin: 50px auto;
                    font-size: 0.85em;
                    color: #FFF;
				
				    a {
				        color: $black;
				        text-decoration: none;
				    }
				    	
				}
			
    			//A.1.3. down arrow button
				
				.figure-downArrow {
					clear: both;
					width: 100%;
					margin: 0 0 40px 0;
					
					img {
						display: inline-block;
					}
				}
				
				//A.1.4. logo
				
				.figure-logo {
					width: 225px;
					margin: 0 auto;
					
					img {
						width: 100%;
					}
				}
				
						   		
    		// A.1. End
    		
    	}    	

    	
    // A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	
    // B. SECTION - DIFFERENT ++++++++++++++++++++++++++++++++++++++++++++++++    	

    	
    // B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	
    // C. SECTION - COLLABORATORS ++++++++++++++++++++++++++++++++++++++++++++++++  
	
	
		#section-collaborators {
		
		    background: $white;
			
			.section-header {
				
				h2 {
				    color: #818181;
				    // RESPONSIVE
				    margin-bottom: 35px;
				    // RESPONSIVE
				    line-height: normal;
				}
				
				p {
				    color: #bbbdbf;
				    // RESPONSIVE
				    margin-bottom: 65px;
				    // RESPONSIVE
				}					
			}
			
			// C.1. Components
			
			.companies-group {		
				
				.companies-item	{
					@extend .one-half;
					@extend .tablet--one-quarter;
					@extend .desk--one-quarter;
					padding: 0;
					margin: 0;
					border: 0;
					
					.bob-collabHover {
					    // RESPONSIVE
						padding: 10px 0 20px;
						// RESPONSIVE
					}
					
				}
					
			}
			
			
    		// C.1. End			
		}
	
	
    // C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	
	// D. SECTION - THE TEAM ++++++++++++++++++++++++++++++++++++++++++++++++  
	
	
		#section-team {
			
			background: #e2e2e2;
			
			// D.1. Components
			
			// D.1.1. Page Header
			
			.section-header {
				//margin: 0 0 40px;
				
				h2 {
				    color: #404040;
				    
				    // RESPONSIVE
				    margin-bottom: 35px;
				    // RESPONSIVE
				    
				}
				
				p {
				    color: #818181;
				    
				    // RESPONSIVE
				    margin: 65px 0;
				    // RESPONSIVE
				}
				
			}
			//
			
			.team-group	{
				
				.team-item	{
					@extend .one-third;
					//@extend .tablet--one-third;
					//@extend .desk--one-third;
					padding: 0;
					
					.bob-teamImg {
						width: 100%;
						display: block;	
					}
					
					a:hover {
					
					    .figure-teamBottom {
					        
					        opacity: 0.4;
					        
					    }
					
					}
					
					
				}
				
				.aside-team {
				    
				    @extend .one-whole;
				    background: $bob-blue;
				    
				    position: relative;
				    
				    
				    
				    .wrapping {
				    
				        // RESPONSIVE
				        margin: 40px;
				        // RESPONSIVE
				    }
				    
				    h3 {
				        color: #3b3b3b;
				        
				        // RESPONSIVE
				        margin: 20px 0;
				        font-size: $x-large;
				        // RESPONSIVE
				        
				        text-transform: uppercase;
				        line-height: normal;
				        span {
				            color: $white;
				        }
				    }
				    
				    p {
				        color: $white;
				        
				        // RESPONSIVE
				        margin: 20px 0;
				        // RESPONSIVE
				    }
				    
				    .reveal {
				    
				        color: $white;
				        position: absolute;
				        
				        // RESPONSIVE
				        top: 20px;
				        right: 20px;
				        // RESPONSIVE
				        
				        border: solid 1px $white;
				        padding: 8px 15px;
				        border-radius: 100%;
				        
				        &:hover {
				        
				            border-color: #3b3b3b;
				            color: #3b3b3b;
				            text-decoration: none;
				        
				        }
				    }
					
					.video-frame {
						
						@include aspect-ratio(40%, 80%);
						margin:0 auto;
						
						.video-frame-inner {
							
							@include position(absolute, 0);	
							
						}
					}
					
					.audio-frame {
						
						@include aspect-ratio(40%, 50%);
						margin:0 auto;
						
						.audio-frame-inner {
							
							@include position(absolute, 0);	
							
						}
					}
				} 
			}
			
			//
			
			.figure-teamBottom {
				background: url(../images/team/staff-footer.png) top center no-repeat;
				
				// RESPONSIVE
				padding: 30px 0;
				margin: 60px 0 -60px 0;
				// RESPONSIVE
				
			}
						
    		// D.1. End			
		}
	
	
    // D. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	
	// E. SECTION - SERVICES ++++++++++++++++++++++++++++++++++++++++++++++++  

	
	
    // E. END ++++++++++++++++++++++++++++++++++++++++++++++++


	// F. SECTION - CLIENTS ++++++++++++++++++++++++++++++++++++++++++++++++  
	
	
		#section-clients {
		
		    background: $white;
			
			// F.1. Components
			
			//
			
			.section-header {
				
				//
				
				span {
					border-top: 3px solid #1B9DDF;
					padding: 0 40px;
				}
			}
			
			.clients-group	{
				
				.clients-item	{
					@extend .one-quarter;
					@extend .mobile--one-half;
					padding: 0;					
				}
					
			}
			
			
    		// F.1. End			
		}
	
	
    // F. END ++++++++++++++++++++++++++++++++++++++++++++++++	
	
	
	// G. SECTION - CASE STUDIES ++++++++++++++++++++++++++++++++++++++++++++++++  

	
	// G. END ++++++++++++++++++++++++++++++++++++++++++++++++	
	
		
	// H. SECTION - CONTACT US ++++++++++++++++++++++++++++++++++++++++++++++++  

    // H. END ++++++++++++++++++++++++++++++++++++++++++++++++	
    
    // I. END ++++++++++++++++++++++++++++++++++++++++++++++++
    
    #footend {
        
        background: $ia-red;
        padding: 60px 0;
        
        h6 {
            text-align: center;
            color: $white;
            margin: 0;
            
            a {
                color: $black;
            }		       
        }
		
		figure {
			text-align: center;
            
            img {
                
                display: inline-block;
                
            }
		}
    }
    
    // I. END ++++++++++++++++++++++++++++++++++++++++++++++++
