// SITE LAYER  ##############################################

	// A. GENERAL SITEWIDE STYLE ++++++++++++++++++++++++++++++++++++++++++++
	
	    html {
	        font-weight: 300;
	    }
	
	    // A.1. GENERAL SETUP
	    html, body, #mast, .section-home, .container {
	        height: 100%;
	    }
		
		body {
			background: url('../images/front/bg-front.png') no-repeat center center fixed;
			background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-webkit-background-size: cover;	
		}
		
	    // A.1. END
	    
	    // A.2. TYPOGRAPHY SETUP
	        img {
	            //display: block;
	        }
	        
	        h4, h6, ul, li, p {
	            @include source-light();
	        }
	        
	        h1, h2 {
	            @include libre-header();
	            font-size: 45px;
	        }
	        
	        h3.big-title {
	            text-transform: uppercase;
	        }
	        
	        p {
	        
	            font-size: $medium;
	        
	        }


	    // A.2. END
	
	// A. END ++++++++++++++++++++++++++++++++++++++++++++
	
	// B. MASTHEAD ++++++++++++++++++++++++++++++++++++++++++++
	
	    #masthead {
	    	position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
	        display: block; // FOR NOW
			background: $white;
			z-index: 5;
			
			    .container {
			        padding: 0;
			        position: relative;
			    }
			    
			    .logo {
			       // display: none;
			       @include vertical-align(absolute);
			       height: 46px;
			       display: none;
			    }
				
				.nav-main {
                    
					@include vertical-align(absolute);
                    right: 0;
						
					
					ul {

                        margin: 0;
                        padding: 0;
                        vertical-align: middle;	
						
						li {								
							text-transform: uppercase;
							font-size: $small;
                            list-style-type: none;
                            display: inline;
                            vertical-align: middle;	
											
							a {
								color: $black;
								outline: none;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: $baseline-small;
								
								&:hover {
								    color: $ia-red;
								    text-decoration: none;
								}
							}
							
							a:link {
							
								img { 
									vertical-align: middle;
                                    width: 35px;
                                    height: 35px;
                                    border: 2px solid $ia-grey20;
                                    border-radius: 100%;
								}
							}
						}
					}
				}
	        
	    }
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++
	
	// C. MAST ++++++++++++++++++++++++++++++++++++++++++++
	
	    #mast {
	        
	        .wrapper {
	            
				position: relative;
				top: 100%;
				//display: none;
	        }
	        
	        .section {
	            padding: 60px 0;
	        }
	        
	        
	    }
	
	// C. END ++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FOOTER ++++++++++++++++++++++++++++++++++++++++++++
	
	    #footend {
			
			background: $ia-red;
	    }
	
	// D. END ++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################